
Netflix Clone/Netflix Clone.xcodeproj/xcuserdata/weichu.xcuserdatad/xcschemes/xcschememanagement.plist
Netflix Clone/Netflix Clone.xcodeproj/project.xcworkspace/xcuserdata/weichu.xcuserdatad/UserInterfaceState.xcuserstate
Netflix Clone/Netflix Clone.xcodeproj/project.xcworkspace/xcuserdata/weichu.xcuserdatad/UserInterfaceState.xcuserstate
